:root {
    --color-primary: #e4f4fd;
    --color-accent: #d9e8f9;
    --color-secondary: #b6cdde;
    --color-background: #32678f;
    --color-transparent-bg: rgba(255, 255, 255, 0.4);
    --color-invicible: rgb(0,0,0,0);
    font-size: 20px;
}

body {
    background-color: var(--color-background);
    display:grid;
    grid-template-columns: minmax(10px,25px) 1fr minmax(10px,25px);
    grid-template-rows: minmax(10px,100px) 4fr minmax(10px,100px);
    min-height: 100vh;
    margin: 0;
    grid-template-areas: 
    ". . ."
    ". main ."
    ". . .";
}

.main {
    grid-area: main;
    border-radius: 10px;
}